<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageProcessor" version="2.6.0" targetFramework="net472" />
  <package id="ImageProcessor.Plugins.WebP" version="1.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="PNGCompressor" version="1.0.5" targetFramework="net472" />
</packages>